.button {
  margin-left: 8px;
  padding: 16px;
  height: 100%;
  background-color: var(--blue-dark);
  color: white;
  border: none;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--blue);
}