:root {
  /* Product */
  --blue-dark: #1E6F9F;
  --blue: #4EA8DE;

  --purple-dark: #5E60CE;
  --purple: #8284FA;
  
  /* Base */
  --gray-700: #0D0D0D;
  --gray-600: #1A1A1A;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #D9D9D9;
  --gray-100: #F2F2F2;

  /* Feedback */
  --danger: #E25858;
  
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  
  line-height: 140%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--gray-600);
}